name: "Publish"

on:
    workflow_dispatch:
        inputs:
            mod_loaders:
                description: 'List of mod loaders to be published'
                required: true
                default: "['fabric', 'forge', 'neoforge']"
                type: string
            branches:
                description: 'List of branches to be published'
                required: true
                default: "['1.19.2', '1.19.3', '1.19.4', '1.20.1', '1.20.2', '1.20.4', '1.20.6', '1.21.1']"
                type: string

jobs:
    build:
        runs-on: ubuntu-latest
        name: Build ${{ matrix.branch }}
        timeout-minutes: 15
        strategy:
            fail-fast: false
            matrix:
                branch: ${{ fromJson(inputs.branches) }}

        steps:
            -   name: "Checkout repository"
                uses: actions/checkout@v4
                with:
                    ref: ${{ matrix.branch }}
                    fetch-depth: 0

            -   name: "Parse gradle properties"
                id: gradle-properties
                run: ./.github/scripts/parse-gradle-properties.sh

            -   name: "Parse changelog"
                run: ./.github/scripts/parse-changelog.sh ${{ steps.gradle-properties.outputs.MOD_VERSION }}

            -   name: "Create github release"
                continue-on-error: true
                uses: ncipollo/release-action@v1
                with:
                    skipIfReleaseExists: true
                    allowUpdates: true
                    omitNameDuringUpdate: true
                    omitBodyDuringUpdate: true
                    tag: mc${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}-${{ steps.gradle-properties.outputs.MOD_VERSION }}
                    commit: ${{ matrix.branch }}
                    name: ${{ steps.gradle-properties.outputs.MOD_NAME }} ${{ steps.gradle-properties.outputs.MOD_VERSION }} for Minecraft ${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}
                    bodyFile: RELEASE_CHANGELOG.md

            -   name: "Set up JDK"
                uses: actions/setup-java@v4
                with:
                    java-version: ${{ steps.gradle-properties.outputs.MOD_JAVA_VERSION }}
                    distribution: temurin

            -   name: "Setup Gradle and run build"
                uses: gradle/actions/setup-gradle@v3
                with:
                    cache-read-only: false
                    generate-job-summary: false
                    gradle-version: wrapper
                    arguments: build

            -   name: "Upload Built JARs"
                uses: actions/upload-artifact@v4
                with:
                    name: built-jars
                    if-no-files-found: error
                    path: |
                        ./**/build/libs/*[0-9].jar

            -   name: "Generate matrix for the run job"
                id: publish-matrix
                run: ./.github/scripts/generate-publish-matrix.sh "${{ inputs.mod_loaders }}" ${{ vars.CURSEFORGE_FABRIC_PROJECT_ID }} ${{ vars.CURSEFORGE_FORGE_PROJECT_ID }} ${{ vars.MODRINTH_FABRIC_PROJECT_ID }} ${{ vars.MODRINTH_FORGE_PROJECT_ID }}

    publish:
        runs-on: ubuntu-latest
        needs: build
        name: Publish ${{ matrix.mod_loader }}
        timeout-minutes: 15
        strategy:
            fail-fast: false
            matrix: ${{fromJson(needs.build.outputs.matrix)}}

        steps:
            -   name: "Checkout repository"
                uses: actions/checkout@v4
                with:
                    ref: ${{ matrix.MINECRAFT_VERSION }}
                    fetch-depth: 0

            -   name: "Download Built JARs"
                uses: actions/download-artifact@v4
                with:
                    name: built-jars

            -   name: "Parse gradle properties"
                id: gradle-properties
                run: ./.github/scripts/parse-gradle-properties.sh

            -   name: "Parse changelog"
                run: ./.github/scripts/parse-changelog.sh ${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}

            -   name: Publish ${{ matrix.mod_loader }}
                if: steps.check-mod-loader.outputs.is_mod_loader_supported == 'true'
                uses: Kir-Antipov/mc-publish@v3.3.0
                with:
                    github-token: ${{ secrets.GITHUB_TOKEN }}
                    github-tag: mc${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}-${{ steps.gradle-properties.outputs.MOD_VERSION }}
                    github-commitish: ${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}

                    #curseforge-id: ${{ matrix.curseforge_project_id }}
                    #curseforge-token: ${{ secrets.CURSEFORGE_RELEASE_TOKEN }}

                    #modrinth-id: ${{ matrix.modrinth_project_id }}
                    #modrinth-featured: true
                    #modrinth-token: ${{ secrets.MODRINTH_RELEASE_TOKEN }}

                    name: ${{ steps.gradle-properties.outputs.MOD_NAME }} ${{ steps.gradle-properties.outputs.MOD_VERSION }}
                    version: ${{ matrix.mod_loader }}-mc${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}-${{ steps.gradle-properties.outputs.MOD_VERSION }}
                    loaders: ${{ join(matrix.supported_mod_loaders, ' ') }}
                    game-versions: "${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}\n${{ steps.gradle-properties.outputs.MIN_MINECRAFT_VERSION }}"
                    changelog-file: RELEASE_CHANGELOG.md
                    files: |
                        ${{ matrix.mod_loader }}/build/libs/*[0-9].jar
