name: "Publish"

on:
    release:
        types: [ published ]

jobs:
    github-example-tags:
        runs-on: ubuntu-latest
        name: "Test"
        steps:
            - name: GitHub Tag Name example
              run: |
                  echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
                  echo "Tag name from github.ref_name: ${{  github.ref_name }}"